body {
    background-color: rgb(39, 53, 92) !important;
}

.container {
    min-height: 100vh;
    background-color: rgb(39, 53, 92) !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding: 12px;
}

.quiz-card {
    width: 30rem;
}

.quiz-answer-card :hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.05);
}

.bg-success, .bg-danger {
    color: white;
}